/* reset */
/* main variables */
body {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
  background-color: #fff;
  line-height: 1;
  position: relative;
  font-size: 62.5% !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

li {
  list-style-type: none; }

a:hover, a:focus {
  text-decoration: none;
  color: #fff; }

/*MAIN*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer,
header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-width: 0px;
  padding: 0px;
  margin: 0px; }

html {
  height: 100%;
  font-family: "Open Sans", sans-serif;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none; }

input,
textarea {
  color: #333;
  font-family: "Open Sans", sans-serif;
  outline: none;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none; }

input[type="button"],
input[type="submit"],
button {
  cursor: pointer; }

td {
  margin: 0px;
  padding: 0px; }

form {
  padding: 0px;
  margin: 0px; }

a {
  color: #fff;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: transparent; }

a,
span,
div,
button {
  outline: none !important; }

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
  outline: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.clearfix:after,
.wrapper:after,
.row:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat Medium.eot");
  src: url("../fonts/Montserrat/Montserrat Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat/Montserrat Medium.woff2") format("woff2"), url("../fonts/Montserrat/Montserrat Medium.woff") format("woff"), url("../fonts/Montserrat/Montserrat Medium.ttf") format("truetype"), url("../fonts/Montserrat/Montserrat Medium.svg#Montserrat Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2044; }

@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Open Sans/Open Sans Regular.eot");
  src: url("../fonts/Open Sans/Open Sans Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Open Sans Regular.woff2") format("woff2"), url("../fonts/Open Sans/Open Sans Regular.woff") format("woff"), url("../fonts/Open Sans/Open Sans Regular.ttf") format("truetype"), url("../fonts/Open Sans/Open Sans Regular.svg#Open Sans Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

@font-face {
  font-family: 'Open Sans Light';
  src: url("../fonts/Open Sans/Open Sans Light.eot");
  src: url("../fonts/Open Sans/Open Sans Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Open Sans/Open Sans Light.woff2") format("woff2"), url("../fonts/Open Sans/Open Sans Light.woff") format("woff"), url("../fonts/Open Sans/Open Sans Light.ttf") format("truetype"), url("../fonts/Open Sans/Open Sans Light.svg#Open Sans Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  unicode-range: U+0020-2212; }

/* Generated by http://css.spritegen.com CSS Sprite Generator */
.header__tw,
.header__fb {
  display: inline-block;
  background: url("../img/sprite.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.header__tw {
  background-position: -5px -0px;
  width: 24px;
  height: 20px; }

.header__fb {
  background-position: -5px -25px;
  width: 20px;
  height: 20px; }

.sprite-fo,
.sprite-night,
.sprite-shopping {
  display: inline-block;
  background: url("../img/sprite2.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left; }

.sprite-fo {
  background-position: -5px -0px;
  width: 36px;
  height: 36px; }

.sprite-night {
  background-position: -5px -41px;
  width: 36px;
  height: 36px; }

.sprite-shopping {
  background-position: -5px -82px;
  width: 36px;
  height: 36px; }

/*
================================================================================
|                                     HEADER                                   |
================================================================================
*/
header {
  width: 100%;
  position: relative;
  overflow: hidden; }

.header {
  background: #2F80ED url("../img/header-img.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }

.header__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 0; }

.logo {
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: 2.1rem;
  line-height: 26px; }

.header__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.header__fb {
  margin-right: 20px; }

.header__content {
  padding: 130px 0 200px 0; }

.header__titel {
  letter-spacing: 0.016em; }
  .header__titel .header__subtitle {
    font-family: "Open Sans Light", sans-serif;
    font-weight: 300; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .header__content {
    text-align: center; }
  .header__titel {
    font-size: 3.4rem;
    line-height: 56px; } }

/*
================================================================================
|                                     FOOTER                                   |
================================================================================
*/
.footer {
  line-height: 26px; }

.footer__container {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  padding: 54px 0 28px 0;
  overflow: hidden; }

.footer__menu {
  text-align: right; }

.footer__txt {
  min-height: 220px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 -15px 0 -15px; }

.footer__item {
  padding-top: 17px; }

.footer, .footer__link {
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.8rem;
  font-weight: 300; }

.footer__navigation {
  margin: 0 -15px 0 -15px; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .footer__menu {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    text-align: center;
    padding-top: 40px; }
  .footer__logo, .footer__copyright {
    text-align: center; }
  .footer__txt {
    min-height: 380px; } }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .footer__menu {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    text-align: center;
    padding-top: 40px; }
  .footer__logo, .footer__copyright {
    text-align: center; }
  .footer__txt {
    min-height: 380px; } }

html {
  width: 100%;
  font-size: 62.5%; }

body {
  width: 100%; }

.wrapper {
  min-height: 100%;
  position: relative; }

.wrap {
  background: -webkit-linear-gradient(327.23deg, #2F80ED 0%, #17345C 98.9%);
  background: -o-linear-gradient(327.23deg, #2F80ED 0%, #17345C 98.9%);
  background: linear-gradient(122.77deg, #2F80ED 0%, #17345C 98.9%);
  padding-bottom: 26px; }

.button {
  width: 282px;
  height: 68px;
  left: 0;
  top: 360px;
  border: none;
  -webkit-border-radius: 144px;
  border-radius: 144px;
  font-size: 1.8rem;
  text-align: center;
  letter-spacing: 0.016em;
  text-transform: capitalize;
  color: #2f80ed;
  margin-top: 45px; }

/* titles */
h1 {
  font-size: 4.4rem;
  line-height: 66px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

h2 {
  font-size: 4.4rem;
  line-height: 66px;
  color: #333;
  font-family: "Open Sans", sans-serif;
  padding: 15px 0 15px 0;
  font-weight: 400; }

h3 {
  font-size: 1.8rem;
  line-height: 20px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-weight: 400; }

/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/
.sect_1 {
  background-color: #fff; }

.section__titel {
  color: #333;
  padding-top: 80px;
  padding-bottom: 50px; }

.section__subtitle {
  font-family: "Open Sans Light", sans-serif;
  font-weight: 300; }

.section__text {
  padding-bottom: 80px; }

figcaption {
  font-size: 2.4rem;
  color: #333;
  padding-top: 20px;
  line-height: 30px; }

.text {
  font-size: 1.8rem;
  color: #333;
  line-height: 20px; }

.section__chat {
  margin: 75px 0;
  overflow: hidden; }

.section__txt {
  font-family: "Open Sans Light", sans-serif;
  font-weight: 300;
  line-height: 27px;
  font-size: 1.8rem;
  color: #fff;
  letter-spacing: 0.016em;
  padding-top: 20px; }

.box {
  margin: 0 -15px;
  padding-left: 45px; }

.chatbox {
  height: 420px; }

.chat__content {
  height: 390px; }

.chat__tex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.chat__user1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 1.4rem;
  color: #2f80ed;
  margin-right: 10px; }

.chat__message1,
.chat__message2 {
  max-width: 260px;
  font-weight: 300;
  color: #333;
  font-size: 1.4rem;
  background-color: #fff;
  -webkit-border-radius: 10px 10px 10px 0;
  border-radius: 10px 10px 10px 0;
  padding: 10px; }

.chat__message1 img {
  margin: -11px; }

.chat__message2 {
  -webkit-border-radius: 10px 10px 0 10px;
  border-radius: 10px 10px 0 10px; }

.chat__user2 {
  width: 30px;
  height: 30px;
  background-color: #fff;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: url("../img/profile-pic.png");
  margin-left: 10px; }

.self {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 20px 0; }
  .self .chat__message2 {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1; }

@-webkit-keyframes dot-anim {
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px); }
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

@keyframes dot-anim {
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); }
  50% {
    -webkit-transform: translate(0, -6px);
    transform: translate(0, -6px); }
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0); } }

.dot i {
  width: 6px;
  height: 6px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: dot-anim 1s infinite linear;
  animation: dot-anim 1s infinite linear;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0); }

.dot {
  display: block;
  position: relative; }

.dot i + i {
  margin-left: 3px; }

.dot i:nth-child(1) {
  -webkit-animation-delay: .5s;
  animation-delay: .5s;
  background: rgba(0, 0, 0, 0.5); }

.dot i:nth-child(2) {
  -webkit-animation-delay: .4s;
  animation-delay: .4s;
  background: rgba(0, 0, 0, 0.3); }

.dot i:nth-child(3) {
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
  background: rgba(0, 0, 0, 0.1); }

.content .hiden {
  display: none; }

.content .active {
  display: block; }

.box__list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .box__list .active {
    opacity: 1; }

.box__item {
  text-align: center;
  opacity: .5; }

.shopping,
.night,
.food {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 60px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
  margin-bottom: 10px; }

@media screen and (min-width: 320px) and (max-width: 479px) {
  .button {
    width: 270px; }
  .sect_1 {
    text-align: center; }
  .section__titel {
    font-size: 3.4rem;
    line-height: 56px; }
  .section__box {
    margin: 0 -15px; }
  .box {
    padding: 50px 5px 5px 5px;
    max-width: 300px;
    margin: 0 auto; }
  .chat__message1,
  .chat__message2 {
    max-width: 250px; }
  .chat__message1 img {
    width: 250px; } }

@media screen and (min-width: 480px) and (max-width: 767px) {
  .sect_1 {
    text-align: center; }
  .section__chat .button {
    text-align: center; }
  .box {
    padding: 50px 5px 5px 5px;
    max-width: 400px;
    margin: 0 auto; }
  .chat__message1,
  .chat__message2 {
    max-width: 250px; }
  .chat__message1 img {
    width: 250px; } }

@media screen and (min-width: 768px) and (max-width: 991px) {
  .box {
    margin: 0 auto; } }

@media screen and (min-width: 992px) and (max-width: 1200px) {
  .box {
    padding-left: 0;
    padding-right: 20px; } }
