/* reset */
$base-bg: #fff; 
$base-font-size: 62.5%; 
$base-line-height: 1; 
$custom-font-family: 'Open Sans', sans-serif; 
$base-font-family: 'Open Sans Light', sans-serif; 
$logo-font-family: 'Montserrat', sans-serif; 
$link-color: #fff;
$default-transition:all 0.2s linear;

/* main variables */

//text, titles
$text-color: #fff;
$text-color2: #2f80ed;
$text-color3: #333;
$text-color4: rgba(255, 255, 255, 0.7);
$title-color: #fff;
$title-color2: #333;
$title-font-family: $custom-font-family;

$font-size-h1: 4.4rem;
$line-height-h1: 66px;
$font-size-h2: 4.4rem;
$line-height-h2: 66px;
$font-size-h3: 1.8rem;
$line-height-h3: 20px;

$bg-color: #2F80ED;
$bg-color2: #fff;
//$bg-color3: #212121;