html {
    width: 100%;
    font-size: 62.5%;
}

body {
    width: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
}


.wrap {
    background: linear-gradient(122.77deg, #2F80ED 0%, #17345C 98.9%);
    padding-bottom: 26px;
}

.button {
    //position: absolute;
    width: 282px;
    height: 68px;
    left: 0;
    top: 360px;
    border: none;
    border-radius: 144px;
    font-size: 1.8rem;
    text-align: center;
    letter-spacing: 0.016em;
    text-transform: capitalize;
    color: $text-color2;
    margin-top: 45px;
}


/* titles */

h1 {
    @include font($font-size-h1, $line-height-h1, $title-color);
    font-family: $title-font-family;
    font-weight: 400;
}

h2 {
    @include font($font-size-h2, $line-height-h2, $title-color2);
    font-family: $title-font-family;
    padding: 15px 0 15px 0;
    font-weight: 400;
}

h3 {
    @include font($font-size-h3, $line-height-h3, $title-color);
    font-family: $title-font-family;
    font-weight: 400;
}


/*
================================================================================
|                                     CONTENT                                 |
================================================================================
*/

.sect_1 {
    background-color: $bg-color2;
}

.section__titel {
    color: $text-color3;
    padding-top: 80px;
    padding-bottom: 50px;
}

.section__subtitle {
    font-family: $base-font-family;
    font-weight: 300;
}

.section__text {
    padding-bottom: 80px;
}

figcaption {
    font-size: 2.4rem;
    color: $text-color3;
    padding-top: 20px;
    line-height: 30px;
}

.text {
    font-size: 1.8rem;
    color: $text-color3;
    line-height: 20px;
}

.section__chat {
    margin: 75px 0;
    overflow: hidden;
}

.section__txt {
    font-family: $base-font-family;
    font-weight: 300;
    line-height: 27px;
    font-size: 1.8rem;
    color: $text-color;
    letter-spacing: 0.016em;
    padding-top: 20px;
}

.box {
    margin: 0 -15px;
    padding-left: 45px;
}

.chatbox {
    height: 420px;
}

.chat__content {
    height: 390px;
}

.chat__tex {
    display: flex;
    align-items: flex-end;
    flex-flow: row wrap;
}

.chat__user1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: $bg-color2;
    border-radius: 50%;
    font-size: 1.4rem;
    color: $text-color2;
    margin-right: 10px;
}

.chat__message1,
.chat__message2 {
    max-width: 260px;
    font-weight: 300;
    color: $text-color3;
    font-size: 1.4rem;
    background-color: $bg-color2;
    border-radius: 10px 10px 10px 0;
    padding: 10px;
}

.chat__message1 img {
    margin: -11px;
}

.chat__message2 {
    border-radius: 10px 10px 0 10px;
}

.chat__user2 {
    width: 30px;
    height: 30px;
    background-color: $bg-color2;
    border-radius: 50%;
    background: url("../img/profile-pic.png");
    margin-left: 10px;
}

.self {
    justify-content: flex-end;
    margin: 20px 0;
    .chat__message2 {
        order: -1;
    }
}

@keyframes dot-anim {
    100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, -6px);
    }
    0% {
        transform: translate(0, 0);
    }
}

.dot i {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    display: inline-block;
    animation: dot-anim 1s infinite linear;
    transform: translate(0, 0);
}

.dot {
    display: block;
    position: relative;
}

.dot i + i {
    margin-left: 3px;
}

.dot i:nth-child(1) {
    animation-delay: .5s;
    background: rgba(0, 0, 0, 0.5);
}

.dot i:nth-child(2) {
    animation-delay: .4s;
    background: rgba(0, 0, 0, 0.3);
}

.dot i:nth-child(3) {
    animation-delay: .3s;
    background: rgba(0, 0, 0, 0.1);
}

.content {
    .hiden {
        display: none;
    }
    .active {
        display: block;
    }
}

.box__list {
    display: flex;
    justify-content: space-between;
    .active {
        opacity: 1;
    }
}

.box__item {
    text-align: center;
    opacity: .5;
}

.shopping,
.night,
.food {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: $bg-color2;
    margin: 0 auto;
    margin-bottom: 10px;
}

@media screen and (min-width: 320px) and (max-width: 479px) {
    .button {
        width: 270px;
    }
    .sect_1 {
        text-align: center;
    }
    .section__titel {
        font-size: 3.4rem;
        line-height: 56px;
    }
    .section__box{
        margin: 0 -15px;
        
    }
    .box {
        padding: 50px 5px 5px 5px;
        max-width: 300px;
        margin: 0 auto;
    }
    .chat__message1,
    .chat__message2 {
        max-width: 250px;
    }
    .chat__message1 img {
        width: 250px;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .sect_1 {
        text-align: center;
    }
    .section__chat .button {
        text-align: center
    }
    .box {
        padding: 50px 5px 5px 5px;
        max-width: 400px;
        margin: 0 auto;
    }
    .chat__message1,
    .chat__message2 {
        max-width: 250px;
    }
    .chat__message1 img {
        width: 250px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .box{
       margin: 0 auto; 
    } 
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .box {
        padding-left: 0;
        padding-right: 20px;
    }
}

